{% extends 'interviewer_base.html' %}

{% block title %}Interviewer Dashboard {% endblock %}

{% block content %}
<div class="bg-white shadow-lg rounded-lg p-6">
    <h2 class="text-xl font-semibold text-gray-800 mt-8 mb-4">Jobs Added</h2>
    <div class="space-y-4">
        {% for job in fetched_jobs %}
        <div class="bg-gray-100 p-4 rounded-md">
            <p class="text-gray-700"><b>{{ job.Job_Title }}</b></p>
            <p class="text-gray-500"><b>Job ID:</b> {{ job.Job_ID }}</p>
            <p class="text-gray-500"><b>Location:</b> {{ job.Job_Location }}</p>
            <p class="text-gray-500"><b>Job Description:</b> {{ job.Job_Description }}</p>
            <p class="text-gray-500"><b>Requirements:</b></p>
            <ul class="list-disc list-inside text-gray-500">
                {% for req in job.Job_Requirements %}
                <li>{{ req }}</li>
                {% endfor %}
            </ul>
            {% if job.Job_Status %}
            <p class="text-gray-500"><b>Status:</b> Open</p>
            {% else %}
            <p class="text-gray-500"><b>Status:</b> Closed</p>
            {% endif %}
            <button type="button" class="btn-custom px-4 py-2 rounded-md">Edit Job</button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
